/* -------------------------------------------------------------------------------- */
/* ! Reset and general */
/* -------------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*----- custom proprieties */
:root {
    --primary-color: #269b63;
    --secondary-color: #26499b;
    --accent-color: #9b263b;
    --light-color: #eee;
    --light-grey: #ccc;
}

.active {
    border-left: 4px solid var(--accent-color);
    font-weight: 800;
}

/* -------------------------------------------------------------------------------- */
/* ! Topbar */
/* -------------------------------------------------------------------------------- */
#topbar {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--light-color);
    z-index: 2;
}

.logo {
    font-weight: 700;
    margin: auto;
}

.search {
    position: relative;
    width: 80%;
    justify-self: center;
    margin: auto;
}

.notification {
    margin: 0 20px;
    font-size: 1.25rem;
}

.search input {
    width: 100%;
    height: 40px;
    padding: 0 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--light-color);
}

.search label {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    color: var(--accent-color);
}

.user {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* -------------------------------------------------------------------------------- */
/* ! Sidebar */
/* -------------------------------------------------------------------------------- */
#sidebar {
    background-color: var(--secondary-color);
    position: fixed;
    top: 70px;
    height: calc(100% - 70px);
    width: 260px;
    overflow: hidden;
}

#sidebar ul {
    overflow-y: auto;
}

#sidebar ul li {
    list-style-type: none;
    width: 100%;
}

#sidebar ul li a {
    display: flex;
    align-items: center;
    color: var(--light-color);
    padding: 30px;
    text-decoration: none;
    width: 100%;
    transition: all .3s;
    font-weight: 500;
}

#sidebar ul li a i {
    font-size: 1rem;
}

#sidebar ul li a span {
    padding-left: 10px;
}

#sidebar ul li a:hover {
    background-color: var(--light-color);
    color: var(--secondary-color);
}

/* -------------------------------------------------------------------------------- */
/* ! Main */
/* -------------------------------------------------------------------------------- */
main {
    position: absolute;
    top: 70px;
    left: 260px;
    background-color: var(--light-color);
    height: calc(100vh - 70px);
    width: calc(100% - 260px);
    padding: 10px;
    overflow-y: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 23%;
    border-radius: 10px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, .08);
    padding: 35px 20px;
}

.card-content {
    width: 80%;
    font-size: 2rem;
}

.card:hover,
.card:hover * {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.card-data {
    color: var(--light-grey);
}

.card-icon {
    font-size: 3.5rem;
}

.card-number,
.card-icon {
    color: var(--primary-color);
    font-weight: 600;
}

/* -------------------------------------------------------------------------------- */
/* ! Charts */
/* -------------------------------------------------------------------------------- */
.charts {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.chart {
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 7px 7px 0 rgba(0, 0, 0, .07);
    width: 100%;
}

.charts h2 {
    color: var(--secondary-color);
    border-left: 2px solid var(--primary-color);
    padding: 10px 15px;
}

#doughnut {
    flex-basis: 40%;
    align-items: center;
}

canvas#doughnut-chart {
    margin-top: 30px;
}

#myChart {
    width: 100%;
    height: 100%;
}